<div class="row" id="data-counters">
    <div class="col-md-6" >
        <img src="{{model.img}}" alt="Foto" class="img-thumbnail">
    </div>
    <div class="col-md-6">
        <h2>Имя : {{model.name}}</h2>
        <h2>Email: {{model.email}}</h2>
    </div>
</div>
