.nav >li{
  cursor:pointer;
}
#data-counters{
  margin-bottom: 40px;
}
#data-counters img{
  width: 40%;
}
#data-counters>div:first-child{
  text-align: center;
}
#customer-table tr.active>td{
	background-color:#A2F880!important;
}
