<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" >List Customers</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">

                  {{#link-to "index" tagName="li"}}
                      <a>Home</a>
                  {{/link-to}}


                  {{#link-to "customers" tagName="li"}}
                      <a>Customers</a>
                  {{/link-to}}


              {{#link-to "about" tagName="li"}}
                  <a>About</a>
              {{/link-to}}

            </ul>
        </div>
    </div>
</div>
<div class="container" >
  {{outlet}}
</div>
