<div class="jumbotron">
    <h2>Вас приветствует система учета клиентов!</h2>
    <p class="lead">
        <img src="assets/images/list_photo.jpg" alt="Фото списка"><br>
        Смело жмите на кнопку и начните пользоваться приложением.
    </p>
    <p>{{#link-to "customers" class="btn btn-lg btn-success"}}
        Начать! <span class="glyphicon glyphicon-ok"></span>{{/link-to}}</p>
</div>